---
import Layout from '../layouts/Layout.astro';
---

<Layout title="zayleigh-ng">
  <main>
    <article class="region prose wrapper hero">
      <h1>Zayleigh.Ng</h1>

      <h2>code, coffee, and compassion</h2>
    </article>

    <article class="region prose wrapper">
      <div>
        Welcome to my corner of the internet! I'm a code addict with a coffee
        problem. This static site is my personal space to share my thoughts,
        experiences, and projects with the world. Soon.
      </div>
    </article>

    <footer class="region prose wrapper">thanks for stopping by</footer>
  </main>
</Layout>
