---
import Layout from '../layouts/Layout.astro';
---

<Layout title="zayleigh-ng">
  <main>
    <article class="region prose wrapper hero">
      <h1>Zayleigh Ng</h1>

      <h2>caffeine fueled coding queen</h2>
    </article>

    <article class="region prose wrapper">
      <div>
        Welcome to my corner of the internet! My name is Zayleigh, and I'm a
        coder, coffee addict, and all-around sassy person. This static site is
        my personal space to share my thoughts, experiences, and projects with
        the world.
      </div>

      <div>
        As a developer, I'm always tinkering with new technologies and exploring
        different ways to express my creativity. On this site, you'll find a mix
        of technical and personal content, ranging from tutorials and code
        snippets to musings on life and coffee.
      </div>

      <div>
        So grab a cup of your favorite brew and make yourself at home. Feel free
        to browse through my posts, leave comments, and reach out if you want to
        chat. Thanks for visiting, and I hope you enjoy your stay!
      </div>
    </article>

    <footer class="region prose wrapper">
      thanks for stopping by
    </footer>
  </main>
</Layout>
